[2021-07-15 23:26] JieX19 commented on #125
Hi @danieldeno,

For the question you mentioned "The one thing i don't understand is why this needs to be done."

it's a mandatory requirement by Ansible though. From my point of view, because 'Role' is a complex domain and can be shared among different users, you got to specify the exact module to run the playbook when using 'Role'. This is how Ansible design the 'Role'.

[2021-07-15 23:26] #125 closed

[2021-07-16 12:20] ryanmerolle commented on #122
Thanks for the follow up.  I will look to migrate away from scp to this module.

At least with my scp process, everytime the config is pulled, the encryption key is changed.

I saw the same behavior when I used to use oxidized with FortiOS 6.0.  https://github.com/ytti/oxidized/issues/1883

[2021-07-22 20:46] kaon1 opened #126 "Change system admin password forbidden"
Can I change the system admin password via ansible? I am seeing this error.

`[httpsd 27871 - 1626985220    error] _api_cmdb_v2_config[1189] -- Modification of the 'password' field of system.admin is forbidden.`

[2021-07-22 23:25] JieX19 commented on #126
Hi @kaon1

I can reproduce the error and will open a ticket in the internal system.

[2021-07-27 18:09] OnAzureCloud9 opened #127 "Static route module "fortios_router_static" is not idempotent"
Using the IPv4 static routing module, "fortios_router_static", the behavior is not idempotent. The initial deployment works fine and the static routes are created. However, for all subsequent playbook runs an error is returned since it considers it a duplicate entry.

It seems a POST request is being made every time instead of maybe a PUT request should be made after the static route already exist

[2021-07-27 19:02] OnAzureCloud9 commented on #127
After some further investigation, it looks like the issue is that I did not provide "seq_num" under "router_static". This looks to be required otherwise the Ansible module will probably think we're trying to create a new static route. By specifying the sequence number, this scopes the static route and specifies an existing static route. By doing this I was able to deploy, update, and delete a stat

[2021-07-27 19:02] #127 closed

[2021-08-09 16:07] hosseinoliabak opened #128 "Can Ansible handle 2FA with Fortitoken when using httpapi"
I use FortiToken as 2nd factor authentication to login to a FortiGate. I would want to know if this is possible to pass the OTP when running the ansible-playbook command.

I have also prompted the user to enter the token (https://docs.ansible.com/ansible/latest/user_guide/playbooks_prompts.html#interactive-input-prompts)

but still getting:

[code]

[2021-08-09 18:02] chillancezen commented on #128
2fa is not considered, we will update you later, thanks for your issue.

[2021-08-10 22:30] JieX19 commented on #128
Hi @hosseinoliabak

We've had a discussion on this feature and tested on the api, it shows the result of fortios_access_token has higher priority, which means 2FA will be ignored if you use fortios_access_token even though 2FA is enabled on the device.

The fact is 2FA is useful when you're logging in with username and password. We recommend to use fortios_access_token, it's a safe way to access t

[2021-08-11 00:05] hosseinoliabak commented on #128
Hi @JieX19,
Thanks for the comment.
I prefer waiting for the feature.
--
Thank you,

[2021-08-11 19:30] kaon1 commented on #126
For others with the same issue, as a workaround I created a playbook which deletes the user and then re-adds it with the new desired password.
Some gotchas:
1. You have to authenticate as a different user to make the change
2. It's not idempotent, will always make the change whether the password is the same or not

`---
- name: "Playbook: Update password by deleting and re-adding user"
  hosts: la

[2021-08-11 21:28] JieX19 commented on #126
Thanks! @kaon1

Yep, the workaround works fine. We expect the password is changed directly like we do on GUI. I've submitted a ticket to api team and will update you once it's fixed.

[2021-08-11 21:39] JieX19 commented on #126
Hi @kaon1 I just noticed that you were using the module fortios_system_admin, which is used for admin management. There's a module system_change-password that is used for changing password. BUT the api is not working as expected, also got rejected when changing the password.

[2021-08-18 17:32] #128 closed

[2021-08-25 08:40] vse-github commented on #118
hello, do you have an ETA for next release including this fix?
thanks

[2021-08-27 14:36] raptorr opened #129 "fortios_system_dhcp_server connection error"
I try to add configuration to dhcp with task:
[code]
But it ends with error:
[code]
I try run it on FortiGate-100D v6.2.5

[2021-09-01 20:35] raptorr commented on #129
Issue occurs on ansible 2.9.25, on 2.11.2 works correctly

[2021-09-02 00:36] apellini opened #130 "fortios_monitor - Clear soft in and soft out error in repo"
Hi,
I have written the following task:

`- name:  Execute clear soft in to receive the new network
    fortios_monitor:
      vdom: root
      selector: "clear-soft-in.router.bgp"`

But after launch I receive:

`failed: [fortigate] (item=root) => changed=false
  ansible_loop_var: item
  item: root
  meta:
    action: clear-soft-in
    build: 6828
    http_status: 404
    name: bgp
    path: router

[2021-09-07 08:58] mpsikorski opened #131 "Issue with creating addr objects in FortiManager"
Hi,

we tried to use the new Ansible (ansible-2.9.23-1.el7.noarch centos7) modules for creating address objects in Fortimanager v6.2.8-build1435 and wrote the following playbook:
[code]
Unfortunatly this playbook just locks and unlocks the ADOM XTC_6_2 and doesn't create an address.
I hope that this the right place for support - your hardware support team told us to ask you here.

Best regards,
Ma

[2021-09-08 22:19] JieX19 commented on #129
Hi @raptorr  I'm sorry for the late reply. Yep, the bug has been fixed since ansible 2.11. Thank you for your feedback. Free free to open a new issue if you have any questions.

[2021-09-08 22:19] #129 closed

[2021-09-08 23:14] JieX19 commented on #131
Hi @mpsikorski

I am forwarding your ticket to https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/issues. Feel free to open an issue regarding fortimanager at this thread https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/issues. My colleague will get back to you ASAP.

This thread is used for fortios ONLY.

Thank you!

[2021-09-08 23:14] #131 closed

[2021-09-08 23:16] JieX19 commented on #130
Hi @apellini

I am looking into the case and will get back to you ASAP.

Thanks.

[2021-09-13 18:37] JieX19 commented on #118
Hi @vse-github

I am sorry for the late response. It goes to the junk email 😭 . The error was fixed in our latest version. Could you please download the latest fortios ansible galaxy collection using command **ansible-galaxy collection install fortinet.fortios:2.1.2**, and upgrade your device to Fortios 7.0.0.

Please let me know if it works fine on your side.
Thanks!

[2021-09-13 20:50] JieX19 commented on #3
Hi @l0renzor @diLLec,

The bug has been fixed in our latest version, can you please upgrade your device to Fortios v7.0.0 or later to make sure the module works as expected.

Also, please try our latest ansible galaxy collection ansible-galaxy collection install fortinet.fortios:2.1.2

Thanks!

[2021-09-13 20:50] #3 closed

[2021-09-13 20:53] JieX19 commented on #57
Hi @FredPocai
The bug has been fixed in our latest version, can you please upgrade your device to Fortios v7.0.0 or later to make sure the module works as expected.

Also, please try our latest ansible galaxy collection ansible-galaxy collection install fortinet.fortios:2.1.2

Thanks!

[2021-09-13 20:53] #57 closed

[2021-09-13 20:59] JieX19 commented on #123
Feel free to open an issue if you still have any questions on this module.

Thanks!

[2021-09-13 20:59] #123 closed

[2021-09-13 21:01] JieX19 commented on #104
Hi @Superset1986

Feel free to open an issue if you still have any questions on this module.

Thanks!

[2021-09-13 21:01] #104 closed

[2021-09-13 21:01] #118 closed

[2021-09-13 22:41] JieX19 commented on #130
Hi @apellini

I found it's a bug in the fortios rest-api. Can you please upgrade your device to fortios v7.0.0 or later to make sure the module works as expected.

Feel free to open an issue if you have any other questions.

Thanks!

[2021-09-13 22:41] #130 closed

[2021-09-14 07:16] br0v opened #132 "Authenticating on FortiGates using API token and certificate matching"
Hi,

We're currently using API access tokens to authenticate on FortiGates without a problem. However, we'd like to use the PKI group option to add an extra layer of security. We have no problem using this feature making API calls via curl. But until now we didn't find a way to do this using Ansible.

Is it possible to use certificate matching in combination with API tokens using the Ansible Forti

[2021-09-15 23:26] JieX19 commented on #132
Hi @br0v,

Thank you for the proposal! I am investigating the feature right now, let me do some research on it to see how we can implement it using Ansible fortios collections. I will get back to you ASAP.

[2021-09-20 09:01] vse-github commented on #118
hello @JieX19 is this bug could be fixed under 6.4.X branch or Fortios 7.0.0 is mandatory?
thanks

[2021-09-21 17:36] JieX19 commented on #132
Hi @br0v,

I'd like to clarify with you on this feature. Could you share with me the curl that you used for the request? I wanna make sure we are on the same page. If possible, please give me an example to describe it.

Thanks!

[2021-09-22 09:27] br0v commented on #132
Hi @JieX19,

Thanks for the follow up. This page should give you a clear indication of the command we use: https://kb.fortinet.com/kb/documentLink.do?externalID=FD49348

We've created a REST API user on the FortiGate en enabled PKI groups. After the configuration, we can only connect to the API when we provide the correct certificate and API token. Authenticating without the matching certificate w

[2021-09-22 16:58] JieX19 commented on #132
Hi @br0v Thanks for the info! It's pretty clear right now.

[2021-09-22 18:11] JieX19 commented on #118
Hi @vse-github Thanks for the feedback! I will open a ticket internally to inform the api team to fix it under 6.4.X branch.

[2021-09-23 18:46] JieX19 commented on #118
Hi @vse-github I will get back to you once it's fixed.  Thanks!

[2021-09-23 21:33] JieX19 commented on #118
Hi @vse-github, just got the response from api team, it cannot be fixed in 6.4.x branch, they suggest using the latest version to avoid any other issues due to there're many bugfixes in version 7 and it's more stable.

Thanks for your understanding!

[2021-09-27 13:50] PrincessO-devops opened #133 "FortiOS Fortigate version 7"
Looking for Ansible modules for FortiOS Fortigate version 7 configuration. Will the present collection work for version 7?  Or is there a work around?

[2021-09-27 18:22] JieX19 commented on #133
Hi @PrincessO-devops, Yes, the latest ansible fortios collection 2.1.2 has covered FortiOS v7.0 schema, you can install it by using command **ansible-galaxy collection install fortinet.fortios:2.1.2**

This is the release notes https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.2/release.html in which you can find all the major improvements and bugfixes info for a specific version.

[2021-09-27 18:41] PrincessO-devops commented on #133
Thank you @JieX19 Does collection 2.1.2 also include modules for FortiOS Fortiweb?

[2021-09-27 19:14] JieX19 commented on #133
@PrincessO-devops It seems you're referring a different product. FortiWeb is an independent project, fortigate has some WAF functionality built in but it's not the same the like FortiWeb.

This is the documentation link https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.2/index.html, There're two major modules, they're **Configuration and Monitor modules**. Each of them covers differ

[2021-09-30 15:11] jantari commented on #85
Isn't this exactly what ansibles' newer "Network Resource Modules" do with their support for more states than just "present" and "absent"? See: https://docs.ansible.com/ansible/latest/network/user_guide/network_resource_modules.html#network-resource-module-states

I would think the fortios collection is going to support this resource-module approach sometimes soon maybe hopefully?

[2021-09-30 15:26] jantari opened #134 "modules showing "changed" even though nothing was done due to missing access_token"
Hi,

I am using the `fortinet.fortios` collection `2.1.2` to configure a Fortigate 40F using an api-user and an api-key/access-token to authenticate.

I had some tasks in the beginning of my playbook where I added the `access_token`, but on some later tasks (that were included from a separate tasks file) I forgot - the tasks from that file were still run and showed a "changed" status from ansible,

[2021-10-01 09:38] jguirlinger commented on #122
Hello @ryanmerolle,

I had exactly the same issue you spotted with encryption key generated on the fly that generated new version of backup.
What I did to solve that is scp the backup to a temp dir and then compare the config version with existing backup before moving my backup to the real backup dir

[code]

By the way thanks for pointing out that fortios_monitor_fact could do the job, I will tes

[2021-10-04 18:47] JieX19 commented on #134
Hi @jantari,

For the first question, the basic logic of authentication is that the access_token has higher priority than using username and password. If access_token is not detected then the username + password will be used for the authentication, which answers the question you mentioned above that the task is executed ' even though access_token is omitted.

I tried the same playbook(tasks/all/ob

[2021-10-05 12:31] jantari commented on #134
Hi,

Thanks, I understand that `access_token` has a higher priority but in my playbook and variable files I have no `ansible_password` defined for this firewall so it is "undefined" and could not be used for authentication.

The current situation with my inventory is that some firewalls (our PoC models) were authenticated against with username + password, so I have `ansible_user` set to "ansible"

[2021-10-07 00:33] JieX19 commented on #134
Can you help check the default inventory file under /etc/ansible/hosts to see if there's any configs in this file. Because authentication is required to access to a Forti_Device. It must be set up somewhere, otherwise, you will definitely get an error saying **"ansible.module_utils.connection.ConnectionError: Please provide access token or username/password to login"**.
Here's an example:
[code]

[2021-10-07 20:59] Smoetzak opened #135 "fortios_system_interface: using secondaryip throws AssertionError"
When using fortios_system_interface: if secondaryip parameter is set, an AssertionError is thrown.

The documentation https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_system_interface.html describes the parameter as a list.

Here is the task:

[code]

Here is the result:

[code]

fortios_system_interface works well when not using secondaryip.

[2021-10-08 01:20] kaon1 opened #136 ""hardware status" returns empty result set"
Running ansible playbook to call "hardware status" I receive 200 OK but the result set is empty. I'm expecting to see the model_name in the result.

Tried with 2 different modules (json_generic and configuration_fact) and 2 types of authentication (token and un/pw).

Playbook1 attempt:
[code]
Playbook2 attempt:
[code]

ansible result:
[code]

httpd log entry:
[code]

Attempted this on two differen

[2021-10-12 01:22] bradley-rose opened #137 "fortios_vpn_ipsec_phase1_interface module not functioning!"
The `fortios_vpn_ipsec_phase1_interface` module is not working correctly as the documentation would specify. None of the required parameters are accepted as input. Here is my basic playbook:

[code]

I started with an extremely minimal configuration to see what parameters would be required. The first error message that was output was:

As soon as I add in a "remote-gw" into the configuration, I ge

[2021-10-12 08:09] Smoetzak commented on #135
Hello

Thanks for looking into this.
I've tried deleting the allowaccess entry as it is not required, but still got the assertion error:

`An exception occurred during task execution. To see the full traceback, use -vvv. The error was: AssertionError
fatal: [smoetwall]: FAILED! => {"ansible_facts": {"discovered_interpreter_python": "/usr/bin/python3"}, "changed": false, "module_stderr": "Traceback

[2021-10-12 08:16] #135 closed, assigned to nobody

[2021-10-12 14:27] JelleStu opened #138 "KeyError after getting fortios_configuration_fact"
Hi,

I'm trying to get the system_global settings from my firewall with this yml file:
[code]

but whenever I execute the playbook I receive this error:

[code]
I can edit the hostname but cannot get it from my firewall.

Am I doing something wrong here>=?

[2021-10-12 14:45] #137 closed, assigned to nobody

[2021-10-12 17:49] JieX19 commented on #138
Hi @JelleStu,

Did you use username + password or access_token to access to the fortigate? We recommend to use access_token for the authentication.

**Set up the hosts file as follows:**

[fortigates]
fortigate01 enable_log=True ansible_host=192.168.23.21

[fortigates:vars]
ansible_network_os=fortinet.fortios.fortios
access_token=stgyq3yG15d1475z9qqb80kzs4gf5r **(It's generated from GUI)**

**Plea

[2021-10-12 18:31] JieX19 commented on #134
@jantari Thanks for the updates! I will look into the case and get back to you once it's confirmed and fixed.

[2021-10-12 22:32] bradley-rose opened #139 "Errors using fortios_system_switch_interface library to create software switch!"
I'm attempting to create a very simple software switch on an otherwise factory-default FortiGate. I'm using the bare minimum required parameters, and the module is throwing HTTP_Status 500 with a message: "Error in repo." The [official documentation is here](https://docs.ansible.com/ansible/latest/collections/fortinet/fortios/fortios_system_switch_interface_module.html) for reference.

Here is my

[2021-10-13 02:39] bradley-rose opened #140 "Error using fortios_firewall_policy module to create firewall policies!"
Similar to [this issue](https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/issues/139), I'm receiving an HTTP_Status 500 with an error message of "error in repo" on a very simple firewall policy creation.

[code]

./roles/firewall/tasks/main.yml:
[code]

I cannot find a way to get this module to create any form of firewall policy. I've tried for the last few hours to make a

[2021-10-13 03:28] JieX19 commented on #139
Hi @bradley-rose

I tried the module on fortios version 7.0.1 and it works. Can you just run the playbook below to see if there're any errors?

Set up the hosts file before running the playbook:
1. create the default hosts file under /etc/ansible/hosts (You may need to create the directory by yourself)
    $ sudo vim /etc/ansible/hosts
2. Here's an example for the hosts file
[code]

Here's the pla

[2021-10-13 03:43] bradley-rose commented on #139
I've got a hosts file configured and well in use for both this issue. I hadn't posted it initially as it was lengthy and full of variables and data. Here's a truncated hosts file (I'm using the YAML hosts file format):

[code]

I'm not using an API key as I plan on developing this configuration to be used for bulk deployments. I am unable to create a single API key that works for all devices, so I

[2021-10-13 06:49] bradley-rose commented on #139
Unsure what the issue was. Must have had some formatting errors. Here is the working playbook using the above hosts file:

[code]

[2021-10-13 06:49] #139 closed, assigned to nobody

[2021-10-14 06:29] JieX19 commented on #134
@jantari Finally I reproduce the issue. I have fixed it and it will be covered in the upcoming release. Thank you!

[2021-10-14 15:36] jantari commented on #53
Issue should be reopened, reordering support was only added for profile-based firewall rules.

In NGFW policy-based more we have to use `fortios_firewall_security_policy` (https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_firewall_security_policy.html) and it still doesn't support moving policies.

Or should I create a new issue?

[2021-10-14 16:19] cavamagie opened #141 "vpn_ipsec_phase1 Advanced… field mapping"
i have to map the value
Auto discovery sender

Auto discovery receiver

Exchange interface IP

Device creation

Tunnel search

but i'm aunable to see information from the docs

[2021-10-14 16:27] #141 closed, assigned to nobody

[2021-10-14 16:27] cavamagie commented on #141
close wrong proble

[2021-10-15 06:23] JelleStu commented on #138
@JieX19 I resinstalled the fortios 2.1.2 and enabled the debuging inside the fortigate.

I still receive the error at the thask get global attributes.
[console-output.txt](https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/files/7351327/console-output.txt)

^Console logs

[2021-10-15 08:30] JelleStu commented on #138
@JieX19 I also tried another selector, still get the KeyError: 'Filters' error.

Changinga setting works flawless.

[2021-10-19 07:14] JelleStu commented on #138
Yes, I now can retrieve the fact. Thanks! :)

[2021-10-19 17:18] #138 closed

[2021-10-28 12:21] vingertop opened #142 "FortiOS v7 support"
Hi All,

Will there be support for FortiOS v7 anytime soon in this collection ?
Running v7.0.1 build0157 (GA) :

**Playbook :**

`- hosts: fortigate
  connection: httpapi
  collections:
    - fortinet.fortios

  vars:
    vdom: "specific vdom"
    host: "{{ ansible_host}}"
    username: "{{ansible_ssh_user }}"
    password: "{{ ansible_ssh_pass }}"
    date: "{{ lookup('pipe', 'date +%Y-%m-%d-%Hh%

[2021-10-29 02:34] elvis0206 opened #143 "cannot use Ansible to create a policy with multiple services"
I tried to use ansible for fortigate firewall policy creation with multiple services(like HTTP & HTTPS) and have errors. Like below example.
If there is only one service, like only HTTP, that no problems to be created by ansible.
Any ideas?

-name: Add Policy
   fortios_firewall_policy:
     vdom: FG-traffic
     state: "present"
     firewall_policy:
       name: "test_policy"
       policyid: 0

[2021-10-29 06:59] kifeo opened #144 "Content has not field named 'owner'"
by typing the command "ansible-galaxy collection install fortinet.fortios"

I went into this error :

- downloading role 'collection', owned by
 [WARNING]: - collection was NOT installed successfully: Content has no field
named 'owner'

ERROR! - you can use --ignore-errors to skip failed roles and finish processing the list.

[2021-10-29 07:01] #144 closed, assigned to nobody

[2021-10-29 19:50] JieX19 commented on #142
@vingertop We recommend to use access_token, it can be generated on the GUI and you got to save the generated token so that you can access it in the future.

<img width="300" alt="rest_api_admin" src="https://user-images.githubusercontent.com/59745792/139490776-0b08c73d-5366-43dc-be69-bcc09b3544e5.PNG">

But if you wanna use username and password, you can just simply configured the default invento

[2021-11-01 08:33] elvis0206 commented on #143
Thanks @mbdraks . Works with your example.

However, if there are multiple policies with different service, we cannot hard code the service name. Instead, a loop will be needed. Can have your suggestion on this?

[policy.csv](https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/files/7451745/policy.csv)
.

[2021-11-01 12:14] JelleStu opened #145 "Monitor fact with selector "license_status " doesn't return list"
Hi,

I'm trying to loop through results from the license status selector with the fortios_monitor_fact.

But whenever I put the results in the loop I will receive an error: `"Invalid data passed to 'loop', it requires a list, got this instead:`

Playbook:
[code]

[2021-11-01 19:42] JieX19 commented on #145
Hi @JelleStu

The meta results getting from the task is a **dict** and not a list, you can double check from the results of the first task 'Get license shizzle'.

So **with_dict** is the best way to iterate a dict obj, and also you can not get the item.status directly, 'cause status is just an attribute of the item.values, which means you need to get the item.values first and then get the attribut

[2021-11-01 20:07] JieX19 commented on #143
@elvis0206  Can you please provide us the playbook you used when creating multiple policies with multiple services?

[2021-11-02 01:45] elvis0206 commented on #143
@JieX19

Here you are, also provided the policy csv. I think there a problem when looping the services. I'm still try to solve it
The playbook work without any problems when there is only one service in each policy.

thanks in advance

Playbook below
=============================================================
---
- hosts: all
  collections:
    - community.general
    - fortinet.fortios

  tasks

[2021-11-02 04:54] JieX19 commented on #143
@elvis0206 Thanks for the info!

There's a way to deal with this issue by using a built-in module called **set_fact**, which can help preprocess the value of 'service'. In this way, for example, the value of 'service' for policyid_0 will be saved in a list at once.

We can use the preprocessed value of the 'service' in the second task (Add policy), so all the values in 'service' are applied withou

[2021-11-02 06:42] elvis0206 commented on #143
@JieX19 Thanks for the demo link

I tried this before.

However, from the demo, it assumes only to create one address group and the addresses(vars: demo_input) is hard coded. If I need to create multiple address groups by ansible, I will put the addresses into csv and loop through the group name and addresses column.
Therefore, I'm not sure how to use the set_fact module.

[2021-11-02 07:36] elvis0206 commented on #143
@JieX19   I can create the policy using your suggestion now. However, there are still some problems

As policy1 only need ALL_TCP and HTTP, policy2 only need ALL_ICMP and HTTPS, if I use the suggested way to create the polices, all services will be configured to policy1 and policy2.

Playbook below
---
- hosts: all
  collections:
    - community.general
    - fortinet.fortios
  vars:
    list: []

[2021-11-03 08:55] JelleStu commented on #145
Thanks, did not knew this was an option in Ansible! :)

[2021-11-03 08:55] #145 closed

[2021-11-05 00:30] JieX19 commented on #142
Due to it's not related to a bug, I'm gonna close the issue. Feel free to open an issue if you have any questions.

[2021-11-05 00:30] #142 closed

[2021-11-12 14:04] jantari commented on #143
That is expected.

[code]

Here you are looping through all policies and keep appending the service-names to the same one variable ("`list`"). Therefore, `list` now contains all 4 service names from the CSV. What you want is not one global list of all services ever mentioned in the CSV, you want just the specific services mentioned *per row*. You want this:

[code]

However I would recommend JSON

[2021-11-12 14:23] jantari opened #146 "Documentation issue: application_list.entries.popularity expects a list of strings"
Hi,

I stumbled upon a mistake in the documentation for this module today.
At: https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_application_list.html
it says that:

which implies I have to supply a list of integers (since there are no quotes around the numbers shown in "choices" and unquoted numbers in YAML/ansible are integers).

Then in the examples below ( https://ansibl

[2021-11-13 01:19] JieX19 commented on #85
Hi @wmclendon @jantari @robennis,

Please try our new release 2.1.3, which allows to do a member operation on an object.

**ansible-galaxy collection install fortinet.fortios:2.1.3**

Below is an example to illustrate this feature:

**Task1 will add two members for the group named foogrp:**

[code]

**Task 2 will add a new member to it.**

[code]

**There should be three members in this group.**

[2021-11-13 01:23] JieX19 commented on #134
Hi @jantari

The error is fixed in the new release 2.1.3. Thanks for raising the issue! Let me know if you have any other questions.

[2021-11-13 01:29] JieX19 commented on #134
Using command **ansible-galaxy collection install fortinet.fortios:2.1.3**

[2021-11-13 03:39] elvis0206 commented on #143
@jantari thanks for your infomation. Let me try later.

I also solved this combined with python and extra variable but I think your lsnis better

By the way, can you share some information of ansible indicators usage, like %, as I quite new to ansible.

Thanks

[2021-11-13 23:03] jantari commented on #134
I will be able to test it on monday. btw, when going to the "latest" documentation at https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/ it still shows 2.1.2 and not 2.1.3. I have to manually select `v: galaxy-2.1.3` in the bottom left to see the updated release notes and documentation.

[2021-11-15 08:31] elvis0206 commented on #143
@jantari  I tried and worked with your suggestion.
I also searched this is the Jinja syntax and would like to know if ansible only work with Jinja?

Thanks.

[2021-11-15 22:58] JieX19 commented on #146
Hi @jantari,

Thanks for raising this issue. There's a gap between our internal schema representation and open API. We will find a solution to solve such issues.

Thank you again for your understanding.

[2021-11-15 23:00] JieX19 commented on #85
Free feel to open an issue if you have any other questions. I'll close this issue because it's fixed.

[2021-11-15 23:00] #85 closed

[2021-11-15 23:53] JieX19 commented on #134
@jantari The latest version is 2.1.3 now. Thanks!

[2021-11-16 07:38] jantari commented on #134
I tested version 2.1.3 today and indeed the tasks fail now - thanks! 👍

[code]

[2021-11-16 07:38] #134 closed

[2021-11-17 21:46] JieX19 commented on #143
@elvis0206 Ansible uses Jinja2 templating to enable dynamic expressions and access to variables. It seems only jinja is supported currently. Here's the user guide for templating https://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html.

Hope this helps.

I will close this issue right now, feel free to open an issue if you have any other questions.

[2021-11-17 21:46] #143 closed

[2021-11-23 20:02] robertegithub opened #147 "fortios_configuration_fact: formatters parameter seems to have no effect"
Based on the example here, https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.3/fortios_configuration_fact.html, it looks like we would use the elements in the results ("fields") to filter on?

[code]

The "name", "management-ip", and "vlanid" are parameters for the fortios_system_interface, and although there is no example output shown, we would expect the output for that selector w

[2021-11-23 22:50] JieX19 commented on #147
Hi @robertegithub,

The module works on my side. The results should be like this:

[code]

Can you please try the selector 'system_interface' to see the results getting from the task? I tried this module on both FOS 6.4.7 and 7.0.1, they all work.

[2021-11-24 22:27] robertegithub commented on #147
Thank you.

I noticed that if "name" is included in the formatters for the system_interface, like the example on  https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.3/fortios_configuration_fact.html,, it also includes a "q_origin_key" - is that intentional?    (I'm seeing the same "q_origin_key" when the selector is "system_dns")

Also, how can you match an embedded space using a fil

[2021-11-24 22:29] robertegithub commented on #147
I left out this key finding:   Initially using selector 'system_interface' did not change anything (formatters still did not work). However, I forced an older version of python (3.8.12), and it worked, so it looks like maybe there is some problem for the module when python is at 3.9.9.

[2021-11-29 18:26] JieX19 commented on #147
@robertegithub Thank you for finding the root cause. I will look into the issue.

[2021-12-01 10:46] jantari opened #148 "Move firewall policy to absolute position"
After #53 it is now possible to move a policy relative to another, e.g. "move ID 2000 to the spot right above ID 342"

However this is tedious and requires one to know both the ID of the policy one wants to move (that is a given of course) AND the ID of the policy one wants to move relative to AND the knowlege which of the two move operations (before or a after) has to be used to achieve the desir

[2021-12-02 11:59] winromulus opened #149 "Cannot remove all Administrative Access options from interface"
Hi,

While using `fortios_system_interface`, passing an empty array for `allowaccess` does not clear the list of admin access options. I can't figure out a way to set that list to remove all options set on the interface. Is this a bug or am I doing something wrong?

[2021-12-02 11:59] tethryus commented on #149
Same here

[2021-12-06 15:40] jantari commented on #149
Just ran into this as well. When setting `allowaccess: []` that results in the same behavior as `allowaccess: omit` - the allowaccess setting on the firewall is not touched when it should be cleared.

This is probably related to #14

Nonetheless it is important to be able to set an empty allowaccess setting (unset allowaccess) for some interfaces. Not everyone wants all their interfaces to be ping

[2021-12-08 16:28] petercrocker opened #150 "fortios_router_ospf fails: msg: 'argument ''network'' is of type <class ''dict''> found in ''router_ospf''"
Issue: can't get fortios_router_ospf to configure a network statement.

Version of Galaxy collection: 2.1.3

Example ansible task:

- name: Configure OSPF network statement
  fortinet.fortios.fortios_router_ospf:
    vdom: "{{ vdom }}"
    router_ospf:
      network:
        area: "{{ ospf.area | ansible.netcommon.ipaddr('address') | default('0.0.0.0') }}"
        id: 1
        prefix: "{{ ospf.ne

[2021-12-08 20:13] robertegithub commented on #147
Just a clarification on this:  It seems the issue was not likely related to the python version, but maybe something related to python venv? I have a colleague having the same issue. I had been running it in a venv, with these versions:

[code]

In that environment, we experience the issue.

When I run it outside the venv, as long as I force a python3 version, it works. Outside the venv, I have the

[2021-12-08 22:08] robertegithub commented on #147
After some more review, I noticed these lines in the (verbose) output of the task when it worked (not using the venv), but not when it did not work (using the venv):

[code]

So I changed these host/group vars from this:

[code]

to this:

[code]

and the problem was solved. Specifically, I think it was the ansible_network_os (fortinet.fortios.fortios) module. I just don't know why the "redirectio

[2021-12-08 23:14] robertegithub opened #151 "Feature request: fortios_configuration_fact: Allow filtering (formatters) on nested elements"
Currently formatters work on only the highest level keys for selectors (at least for nested lists of dicts). So something like this:

[code]

will return:

[code]

What we'd like is to be able to filter on nested dict and list elements, like:

[code]

so that we only get:

[code]

[2021-12-11 22:06] winromulus opened #152 "Major bug while using fortios_certificate_local on FortiOS 7.0.2"
Hi,

I'm experiencing a very weird situation with `fortios_certificate_local`
Creating a new certificate with it results in an "invisible" certificate that does not show up in the GUI or the CLI or in config backup, but it's there somewhere since manually creating another certificate with the same domain results in an error.
Values used:
[code]

Creating a certificate using the CLI and the values

[2021-12-11 22:14] winromulus commented on #152
Seems to be a bug in FortiOS 7.0.2
Works as expected in FortiOS 7.0.3

[2021-12-12 11:26] winromulus opened #153 "Feature missing: extender-controller profile"
Hi,

Any chance we might get a module for extender-controller to support extender profiles? I can't find any way yet to configure a profile or assign the extender to a profile

[2021-12-12 17:14] winromulus opened #154 "Bug in fortios_system_dns_database while using member_path"
Hi,

There seems to be a bug in `fortios_system_dns_database` when using `member_path`:

[code]

Running the above results in:
[code]

[2021-12-16 09:41] Raimond56 commented on #154
Hello,

Same error happens with module fortinet.fortios.fortios_vpn_ssl_settings when using member_path

[code]

[code]

[2021-12-28 14:38] jantari opened #155 "Bug in `module_utils/fortios/comparison.py` function `is_same_ip_address` causes `list index out of range` failure"
In the latest version of the colection (2.1.3) in the function `is_same_ip_address`:

https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/blob/e404ba837430184601c78b620e3affbe1b6a667e/plugins/module_utils/fortios/comparison.py#L17-L48

there is a bug that causes it to always fail with `IndexError: list index out of range`.

Full error:

<details>

    An exception occurred du

[2021-12-29 10:46] jantari commented on #152
I just wanted to say that I ran into a similar but not identical issue a few months ago with `fortios_vpn_certificate_ca` and `fortios_vpn_certificate_local` (which seems to be the same as `fortios_certificate_local`).

I was trying to upload a certificate file I had locally, not generate one with ACME, and I saw the certificate in the GUI of the "global" VDOM only. The certificate was supposed to

[2022-01-05 09:04] sajaltiwarine opened #156 "Getting issue while running any fortios module"
Hello,
I am getting below error while running any playbook with any fortios module, I am moving my existing playbook with old modules to the new one.

TASK [Gathering Facts] *********************************************************
fatal: [X.x.X.x]: FAILED! => {"msg": "network os fortinet.fortios.fortios is not supported"}

ansible --version
`[XX]# ansible --version
/usr/lib/python2.7/site-package

[2022-01-10 12:50] petercrocker commented on #150
@JieX19 can you help route this to the correct person to look in to it please?

[2022-01-10 23:52] JieX19 commented on #147
@robertegithub,

The above issue is actually caused by the parameter ansible_network_os, the value should be fortinet.fortios.fortios. If you use ansible_network_os=fortios, it will cause an error because it's not a valid path for ansible to find the module.

Here's the link https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/playbook.html in which you can see that how to set up the inven

[2022-01-10 23:52] #147 closed

[2022-01-11 00:15] JieX19 commented on #148
@jantari Thanks for raising the issue. It's confirmed as a bug and will be fixed in the next release.

[2022-01-11 00:27] JieX19 commented on #150
Hi @petercrocker,

The error is caused by the type of the paramter NETWORK. you used the type of dict in the playbook instead of a list. The correct playbook should be like this:

[code]

Let me know if you have other questions.

[2022-01-11 00:31] JieX19 commented on #151
Hi @robertegithub

Thank you for your feedback. It's nice to have. I'll discuss this with our team shortly.

[2022-01-11 00:32] JieX19 commented on #153
Hi @winromulus

Can you give me an example of your question? It helps us understand and evaluate the feature easily.

Thanks,
Jie

[2022-01-11 00:41] JieX19 commented on #156
Hi @sajaltiwarine

It seems the error is caused by the inventory configuration. Here's the link that we use to help our users write a playbook.
https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/install.html
https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/playbook.html

Prepare host inventory
in our case we create a file named hosts:
[code]

Also, you can upgrade the python

[2022-01-11 00:43] JieX19 commented on #155
@jantari

Thanks for your detailed debugging info. I'm looking into the case now and will get back to you ASAP.

[2022-01-13 15:56] #150 closed

[2022-01-26 07:30] Raimond56 opened #157 "Fortios_configuration_facts and fortios_monitor_facts error with version 2.1.3 ( working in 2.1.2 )"
Hello,

I am running simple playbook and it works well when I install version 2.1.2, but with version 2.1.3 it gives python syntax error. Any ideas how to solve this? Has some syntax changed for 2.1.3 ?
I am running:
ansible [core 2.11.3]
python version = 3.6.9

and installing fortinet.fortios from galaxy

[code]

This is the error I am getting:
[code]

[2022-01-26 09:41] Andersson007 opened #158 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-27 04:13] afly007 opened #159 "fortios_system_zone"
[code]

How do I update an existing zone that already has members populated?  The code above overwrites the Zone membership.

Thanks

[2022-01-27 13:32] Raimond56 commented on #157
I did not notice that for some reason this playbook still run with python2.7 instead of 3.6.9 which is stated when issuing command ansible --version

[2022-01-27 13:32] #157 closed

[2022-01-28 23:51] JieX19 commented on #159
Hi @afly007

This is a knowing limitation for our current API implementation. One workaround you can do is using the set_fact module to preprocess your interfaces and then apply the prepared data in the next task.

Here's an example about using set_fact in a playbook.
https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/faq.html#how-to-use-the-set-fact-module-in-a-task

[code]
In the above

[2022-01-28 23:56] JieX19 commented on #156
Hi @sajaltiwarine

We're sending you this message to confirm this issue has been resolved. If you need any other support, feel free to open an issue.

[2022-01-28 23:56] #156 closed

[2022-02-02 08:11] Terper opened #160 "upgrade.system.firmware from fortiguard"
Hello,

I am trying to use `fortios_monitor`'s `upgrade.system.firmware` selector with the `fortiguard` source.
I can't seem to figure out what it wants as the filename.

[code]

[2022-02-04 15:06] kar0v opened #161 "fortios_user_group deletes the whole group."
Hello,
I'm trying to create a certain user and add that user to a few groups, however what the fortios_user_group does is it deletes the whole group and creates it again, then adds only that one user.

This was done on FortiGate100E Firmware v6.4.7 build 1911(GA)

`---
- collections:
  - fortinet.fortios
  connection: httpapi
  hosts: firewalls
  vars:
    ansible_httpapi_port: 4443
    ansible_ht

[2022-02-07 22:31] JieX19 commented on #159
Hi @afly007

Member operation for FortiOS subattributes has been supported since 2.1.3. It allows adding one or more members to an existing list without overwriting the current values.

https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_system_zone.html

Using 'member_path' and 'member_state' to do the task.

[code]

[2022-02-08 11:31] ghost opened #162 "fortios_system_physical_switch "option port not supported since v6.2.3" when specifying port"
I am trying to change a switch port administrative status of a FortiSwitch 108E with Ansible. It has FortiOS 6.4.9 installed, and I am working on an Ansible 2.12.1, fortinet.fortios 2.1.3.

My problem is that I am not able to do it. I have been able to connect to the switch and change de hostname, but it seems that the port change option in the fortios_system_physical_switch module is not compatib

[2022-02-08 18:41] JieX19 commented on #160
Hi @Terper The filename is a sequentail number indicating the build version. I saw the filename when upgrading the firmware manuelly on GUI and it's captured in the network traffic, the number is something like '07000000FIMG0012000003'. But it does not show on my device.

Here's another to upgrade the firmware:
[code]
Please note there would be a timeout error after the execution, because the devi

[2022-02-08 18:48] JieX19 commented on #161
Hi @kar0v

FortiOS modules have a functionality called member_operation, which allows to add or delete a member from a list.

https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_user_group.html
https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_user_group.html

Using member_path and member_state (present/absent) to do the task.

[2022-02-08 19:20] #146 closed

[2022-02-10 04:30] mattford1212 opened #163 "Issue 12 module fortios_router_bgp still not looping with add entires"
Hello,
I'm still seeing fortios_router_bgp module only adding last entry in a dictionary. When I loop the module for multiple bgp neighbours, only the 1 last entry is added.

fortinet.fortios  1.0.9
ansible 2.12.1

<172.30.6.56> ESTABLISH LOCAL CONNECTION FOR USER: ansible
<172.30.6.56> EXEC /bin/sh -c '( umask 77 && mkdir -p "` echo /home/ansible/.ansible/tmp/ansible-local-8566999auak95g `"&& mkd

[2022-02-11 06:13] kar0v commented on #161
There is no mention on how to use member_path & member state in the documentation. When I tried to use member_state it was required to use member_path as well. I was unable to locate any examples for member_path & member_state as well. Where can I see more information about the member_path option?

[2022-02-11 18:06] dfernand1 opened #164 "ansible.module_utils.connection.ConnectionError: addinfourl instance has no attribute 'status'"
Currently running ansible 2.9.27 with Python 2.7.

FortiOS 6.0.10 is running on the Fortigate and we have the FortiOS Ansible collection version 2.1.4 installed.

Trying a simple play to change the timezone:

    - name: Update timezone
      fortinet.fortios.fortios_system_dhcp_server:
        access_token: "{{ fortigate_rest_api_token }}"
        state: present
        system_dhcp_server:

[2022-02-13 22:31] #163 closed

[2022-02-15 14:38] Terper commented on #160
Thanks for the reply @JieX19.

I'll try to find the filename trough trial and error, thanks for the lead.

[2022-02-16 12:42] trump4coin opened #165 "ValueError: too many values to unpack (expected 2)"
Hi

i have installed in my lab a fortimanager in version 6.4.
[code]
[code]

Host files:

[code]
the playbook is

[code]
Any idea becuase i am stucking ...

[2022-02-16 18:16] JieX19 commented on #149
Hi, @winromulus @jantari @tethryus

Fortigate does not expose any restful API to unset an attribute currently. I will submit a request to the API team to see if we can support this feature in the future.

Due to the request from the Redhat team, we cannot keep all the discussions in this thread. I will definitely follow up on this feature and update the doc once it's supported from the API end.

[2022-02-16 18:16] #149 closed

[2022-02-16 18:17] JieX19 commented on #148
Hi @jantari

This is a bug from the backend, I've submitted a ticket to the API team and will update you once it's fixed.

[2022-02-17 20:37] dfernand1 commented on #164
To close the issue on this - it does look like Python3 is required as per the FortiOS Ansible Galaxy page:

https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/install.html

[2022-02-17 20:37] #164 closed

[2022-02-22 10:00] trump4coin opened #166 "add vdom on fortios get error"
Hi,

when using the following playbook
`
- hosts: fortigate01
  collections:
    - fortinet.fortios
  connection: httpapi
  vars:
   vdom: "root"
   ansible_httpapi_use_ssl: yes
   ansible_httpapi_validate_certs: no
   ansible_httpapi_port: 443
  tasks:
  - name: Configure virtual domain.
    fortios_system_vdom:
      vdom:  "{{ vdom }}"
      state: "present"
      access_token: "1234"
      sys

[2022-02-22 10:16] trump4coin commented on #166
gather_facts=no solve the issue ... but version 6.2.x or 6.4.x seems not supported

*
[WARNING]: Ansible has detected version mismatch between FortOS system and your playbook, see more details by specifying option -vvv
fatal: [fortigate01]: FAILED! => {"changed": false, "meta": {"build": 7197, "error": -553, "http_method": "POST", "http_status": 500, "name": "vdom", "path": "system", "revision": "

[2022-02-22 10:32] trump4coin commented on #166
ansible-galaxy collection install fortinet.fortios:1.1.6 , i got another error:

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ansible.module_utils.connection.ConnectionError: Could not connect to https://1.1.1.1:443/logincheck: Tunnel connection failed: 403 Forbidden
fatal: [fortigate01]: FAILED! => {"changed": false, "module_stderr": "Traceback

[2022-02-24 02:12] vmx1987 commented on #103
Hello,

Just chiming in on this issue. The latest 2.1.4 release does not seem to address the check mode being enabled and fixed. Is this going to be something that's coming? Check mode is a huge factor. Thank you!

[2022-03-03 08:16] Raimond56 commented on #154
This seems to work now with 2.1.4 version and tested with python 3.9

[2022-03-03 08:39] Raimond56 commented on #161
Hey,
Use this documentation: https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.3/gen/fortios_user_group.html
It shows member paths where it can be used.

[2022-03-03 15:47] ro8harp opened #167 "Issue fortios_certificate_local adding local cert to vdom"
Hi Team,
I need some help with this playbook as I cant seem to add a local certificate to a Fortigate VDOM. The playbook run successfully but adds it to the Global VDOM and not the specific VDOM called out. In the debug of the Fortigate it does not see the request to change VDOM.

centos7jump:billbobjoe[/etc/ansible]$ ansible --version
ansible 2.9.10
  config file = /etc/ansible/ansible.cfg
  conf

[2022-03-07 17:24] JieX19 commented on #159
The issue is marked 'closed' due to inactivity, feel free to open another ticket if the problem persists.

[2022-03-07 17:24] #159 closed

[2022-03-07 17:27] JieX19 commented on #155
Hi @jantari

The error is fixed in the latest version, please try and test on 2.1.4. I will simply close the issue because it's already adrressed. Feel free to reopen it if you have any questions.

[2022-03-07 22:20] JieX19 commented on #161
Hi @kar0v

Here's an example of adding a user 'localuser1' to a group 'foogrp'.

[code]
Before executing the task, there's only one memeber 'guest' in this group.

This is the result after executing the task:
<img width="618" alt="result" src="https://user-images.githubusercontent.com/59745792/157127521-428c47fc-8158-444a-aa26-c9d4eadb1bc9.PNG">

Let me know if you have any questions.

[2022-03-08 00:05] JieX19 commented on #165
hi @trump4coin

It's something related to the environment. You probably need to reinstall fortimanger collection on your device.

I'd like to show my configurations:

Hosts file:

[fortimanagers]
fortimanager01 ansible_host=192.168.2.12 ansible_user=admin ansible_password=123

[fortimanagers:vars]
ansible_network_os=fortinet.fortimanager.fortimanager

[code]

Did you try other modules? Are there a

[2022-03-08 00:06] #165 closed

[2022-03-08 21:47] JieX19 commented on #166
Hi @trump4coin

May I know what FOS version you're using? I also noticed that you used fortiOS collection 1.1.6, can you please upgrade to the latest version 2.1.4, which has more features and covers many bug fixes. Try this module after installing the new version.

Using command **ansible-galaxy collection install fortinet.fortios:2.1.4** to install the latest version.

I tried the above playbook

[2022-03-08 22:05] JieX19 commented on #167
Hi @ro8harp

I noticed that you used the fortiOS collection 1.1.7, can you please upgrade to the latest version 2.1.4, which has more features and covers many bug fixes.
Using command to upgrade to the latest version: **ansible-galaxy collection install fortinet.fortios:2.1.4**

In your playbook, you did not specify the **range [global/vdom]** for the certificate, the default value is global, that

[2022-03-08 23:57] JieX19 commented on #162
Hi @AnttonPuy

Can you please help capture the debugging log using the following commands?

Debugging
Verbose output can help with debugging. To enable verbose debugging, use the following commands in the FortiGate CLI:

**diagnose debug enable
diagnose debug application httpsd -1**

[2022-03-09 15:37] ro8harp commented on #167
Hi @JieX19 ,
The new collection works so this is good but not ad intended.

When using the "range: vdom" as "range:VDOM-A" does not work, 1) the certificate is  installed in the root vdom, 2) the certificate is available in the global vdom, 3)the certificate is unknown in VDOM-A. With the later "unknown in VDOM-A", there is no way to remove the certificate that I have found yet.

When removing the

[2022-03-10 17:32] winromulus commented on #153
@JieX19 - at least in FortiOS 7.x we have the ability to create fortiextender profiles and assign extenders to those profiles. I can't find anything to support this from Ansible.

[2022-03-12 18:46] gduross opened #168 "Spelling error in fortios.py"
Hi Fortinet Ansible Dev Team,
Found a couple spelling errors in:

/ansible-galaxy-fortios-collection/blob/bfdcb660edb9701895c93a3e4a0458f38956507e/plugins/module_utils/fortios/fortios.py

results['mismatches'].append('option [%s]\' playload is inconsitent with schmea.' % (__concat_attribute_sequence(trace)))

Notice: inconsitent (should be inconsistent) and schmea (should be schema),

Thank you,
G

[2022-03-14 20:33] JieX19 commented on #168
Thank you! @gduross, we will fix the errors right away. They should be corrected in the next release.

[2022-03-14 20:34] #168 closed

[2022-03-16 12:17] AnttonPuy commented on #162
Sure! Sorry for the late response. Here the capture of the whole output:
[code]

[2022-03-18 12:24] alex-eoi opened #169 "Module `fortios_json_generic` fails in collection version >2.1.2"
Hi,

at the moment I'm working on an Ansible playbook to change the admin password of a FortiGate unit using the `fortios_json_generic` module. When running the attached task using `fortinet.fortios` version 2.1.3 or 2.1.4 the task fails, but the password is changed correctly. Instead of an OK result an Exception is thrown.
Using version 2.1.2. of `fortinet.fortios` everything works as expected.

[2022-03-21 21:50] JieX19 commented on #169
@alex-eoi

I've reproduced the error. It seems that we improved the formatresponse( ) function for all of the modules but generic_module. It will be fixed in the next release. Thank you for raising this issue with us!

[2022-03-22 18:45] JieX19 commented on #153
@winromulus

Thanks for the feedback! In the monitor APIs, there're a few modules related to fortiextender, for example, 'reset.extender-controller.extender', which is used to reset a specific FortiExtender unit.

The backend does not expose other APIs related to fortiextender, so ansible cannot support them at this moment.

Thanks for your understanding. We will definitely support more and more f

[2022-03-22 20:43] JieX19 commented on #166
@trump4coin I'm closing this issue due to lack of response. Feel free to open an issue if there're any issues.

[2022-03-22 20:43] #166 closed

[2022-03-22 20:46] JieX19 commented on #161
Hi, @kar0v I'm closing this issue due to lack of response. Feel free to open an issue if there're any issues.

[2022-03-22 20:46] #161 closed

[2022-03-25 20:08] kaon1 opened #170 "fortios_monitor_fact system_interface not returning vlan and aggregate interfaces"
[code]

The above task only returns the physical interfaces and does not return the VLAN or Aggregate interfaces.

I'm running this on a `FortiGate 200E v6.2.9 build1234 (GA`

`ansible-playbook 2.9.5`
`python version = 3.6.8`

[2022-03-25 20:33] kaon1 commented on #170
Found this issue.

I was not using: `ansible_network_os: fortinet.fortios.fortios`

Using `ansible_network_os: fortios` causes this strange behavior.

[2022-03-25 20:33] #170 closed

[2022-04-01 13:34] Bergeron-755 opened #171 "New feature"
We could really benefits from adding "DIAG" feature/module for all collections (FAZ, FMG, Fortios, etc)

[2022-04-04 20:27] gaetanquentin opened #172 "Can we use ssh instead of httpapi"
Hi,

 is httpapi the only way to use modules? Where is it wriiten in the documentation? Can we use ssh instead?

 Is there a way to use network_cli+ssh with fortios?

Regards,
Gaetan

[2022-04-05 16:43] JieX19 commented on #171
Can you describe your workflow for using 'DIAG'? We don't currently have an exposed API from the backend for 'DIAG' info.

[2022-04-08 15:40] Smoetzak opened #173 "dnsfilter_profile not working with firewall_policy"
Hello

I've already configured a lot of policies with ansible on fortigates, but it seems that I can't add a dnsfilter profile to a policy.
No matter what I enter next to "dnsfilter_profile:" this gets ignored, even for non-existing names.
I don't receive an error, it just gets ignorded.

My (test)task looks like this:
[code]

This is the output on the fortigate with "diag debug cli 8":
[code]

So

[2022-04-09 02:21] nbctcp opened #174 "list of admin users"
GOAL: get list of admin users
OPTION1:
do you have example using your module

OPTION2:
can I run this command "get system admin list" on remote fortigate using ansible then register

[2022-04-12 16:27] refriedjello opened #175 "Request for example usage of module fortios_hardware_nic"
I have been trying to get the module `fortios_hardware_nic` working to display NIC information but so far have been unsuccessful.

I am able to interact with my FortiGate using other modules, so connectivity and authentication is successful.

My lab FortiGate is a 201E running 6.2.10 and is running VDOMs. I would like to display NIC status information for the NIC "mgmt" which is owned by the VDOM

[2022-04-16 10:57] simonai1254 opened #176 "Malformed Documentation of fortios_system_csf"
Hi

I was browsing through the module documentation and gotan error when reading the ansible docs about the Fortinet FortiOS FortiOS_System_CSF module ([reference])(https://docs.ansible.com/ansible/latest/collections/fortinet/fortios/fortios_system_csf_module.html):

---

The documentation for the module plugin, fortinet.fortios.fortios_system_csf, was malformed.
The errors were:

[code]
---

Than

[2022-04-16 16:23] ryanmerolle commented on #122
I actually am moving to using a filter_plugin around [netutils.config](https://netutils.readthedocs.io/en/latest/netutils/configs/index.html).  With these new filter_plugins I can

- Check compliance of individual configurations
- Diff intended vs running config
- Clean backup config of timestamps and other unneeded data that would show up in a diff or git commit (replacing my own homemade filter_

[2022-04-16 16:23] #122 closed

[2022-04-19 15:43] JieX19 commented on #172
Hi @gaetanquentin

We only support httpapi for all the Ansible projects so far. Also, we suggest using access_token instead of username+password to log in. Why do you need to use ssh with fortios?

[2022-04-19 16:54] JieX19 commented on #173
Hi @Smoetzak

I can reproduce the issue on, the param 'dnsfilter-profile' is ignored while processing the request. I've reported to the API team regarding this issue and will let you know once it's fixed.

[2022-04-19 17:38] JieX19 commented on #174
Hi @nbctcp

We do have a module 'fortios_configuration_fact' to retrieve the info.

Here's an example:

[code]
Feel free to register and copy the returned values if necessary.
There're several selectors for getting different info https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.4/fortios_configuration_fact.html

[2022-04-20 21:27] JieX19 commented on #176
Hi @simonai1254

Thank you for finding the issue! It looks like something is wrong while rendering the doc page on the Ansible end. I will report it to Ansible.

You can also check all the docs from https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.4/index.html. This is the doc page maintained by our team.

[2022-04-22 09:19] gaetanquentin commented on #172
we need to imitate L1 support with ansible.

L1 support  launch commands in ssh at the console like this:

diagnose hardware info

and our security teams want us to use ssh instead of httpapi.

network_cli+ssh is clearly the solution.

[2022-04-22 09:48] #173 closed

[2022-04-28 12:23] nkadel opened #180 "Compilation of "ansible" with fortios fails on "filtered_data =" syntax"
The files with "filtered_data =$" cause compilation problems on RHEL 8 with python 3.8. From my attempt to build a matching RPM:

+ /usr/lib/rpm/brp-python-bytecompile '' 1
Bytecompiling .py files below /builddir/build/BUILDROOT/ansible-5.7.0-0.1.el8.x8
6_64/usr/lib/python3.8 using /usr/bin/python3.8
*** Error compiling '/builddir/build/BUILDROOT/ansible-5.7.0-0.1.el8.x86_64/usr/
lib/python3.8/sit

[2022-04-28 18:25] gundalow commented on #180
Possible fix https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/pull/177

[2022-05-02 15:30] dmsimard opened #181 "Sanity tests failing in fortinet.fortios"
Greetings from the Ansible community working group,

The fortinet.fortios collection is included in the Ansible community package (``ansible`` on PyPI) and as such is expected to have CI which passes sanity tests (amongst other things) as per documented here: https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#ci-testing

We recently noticed that sanity tests were

[2022-05-02 17:03] dmsimard commented on #181
I've intended to create this issue for fortinet.fortimanager and mistakenly confused this repository with https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection instead so I've created another issue here: https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/issues/44

However, since fortinet.fortios does not run sanity tests either, this issue is s

[2022-05-02 18:28] JieX19 commented on #181
@dmsimard  Thank you for letting us know. We will fix the issue ASAP.

[2022-05-02 20:45] JieX19 commented on #175
@refriedjello fortios_configuration_fact is used to retrieve the information about a specific module.

Here's an example:
[code]

fortios_hardware_nic is used to update the information.

[2022-05-03 06:55] gundalow commented on #181
@JieX19 great thank you. If you have any questions we'd be happy to help. Just ask here.

[2022-05-04 16:19] JieX19 commented on #181
@dmsimard  I saw you run the sanity test on Python 2.7, which has syntax error complaints, but that actually works on Python 3. Do you still support and maintain python 2? If so, I need to fix this issue as well.

[2022-05-04 16:42] dmsimard commented on #181
@JieX19 the current latest versions of ansible and ansible core require python >=3.8 on the controller side (where ansible/ansible-core are installed) but still support >=2.7 on the module/plugin side (executed on remote nodes).

I would say it depends which versions of python the collection itself is meant to support -- some collections no longer support python2 because underlying library require

[2022-05-05 12:56] Raimond56 commented on #154
This is still an issue. Tested again with 2.1.5
No error is given, but group does not get added to the authentication rule - ansible reports back "ok"
This time also tested with users and the results are the same. Only check member_path up until authentication rule.

These are the playsbooks I tested with:
[code]

[2022-05-05 19:50] cardosocristian opened #182 "Creating a firewall rule with multiple services"
I am trying to create a firewall policy with more than one service released in the same rule, but I have not been successful, I even tried with With_items to see if a loop occurred and inserted several unsuccessful services.

[code]

When I try to use with_items, with HTTP and HTTPS, it only inserts HTTPS, which is the last value of the loop.

Trying to insert like this:

[code]

I activated the c

[2022-05-06 14:30] dmsimard commented on #181
Linking this issue to the community topic on sanity tests: https://github.com/ansible-community/community-topics/issues/96

The list of sanity test errors for this collection is available here: https://gist.githubusercontent.com/dmsimard/8da5dc6e3008c8051b7b1d21a067e9c4/raw/7753c796ea61b421f671c8feb8959074b52155ea/output.txt

[2022-05-06 18:04] JieX19 commented on #182
@cardosocristian

May I know what Fortios collection you used for the above task? We've fixed the issue for a long period. Can you please install **ansible-galaxy collection install fortinet.fortios:2.1.4**  and try it again?

[2022-05-06 21:17] JieX19 commented on #181
@dmsimard I saw this issue https://github.com/ansible/ansible/issues/67032, is it a hard requirement for all the collections to be licensed under GPL v3? Otherwise, it cannot pass the sanity-test due to missing-gplv3-license.

[2022-05-06 22:56] cardosocristian commented on #182
Hi @JieX19, I used the ansible-galaxy collection install fortinet.fortios:1.1.7 version because the latest version generates warnings on execution and in an internet article, a Fortinet employee in a Linkedin article suggested using the specific version for FortiOS 6.4.0 as I am using version 6.4.8

[2022-05-07 00:09] JieX19 commented on #182
@cardosocristian  What do you mean the latest version has warnings? I just installed it and nothing happened. Also, FortiOS has upgraded to 7.0, which has more features and improvements.

Here's an example for this module:
[code]
In the above example, you can simply apply all the services at once.

[2022-05-07 00:21] JieX19 commented on #182
@cardosocristian Since Ansible Fortios Collection 2.0.0, we've had many improvements on the modules and supported more FOS versions. So I would suggest upgrading both FortiOS and Collection versions.

For your question, you have to install the latest version of FortiOS Collection.

Using command:  **ansible-galaxy collection install fortinet.fortios:2.1.4**

[2022-05-07 00:37] JieX19 commented on #182
@cardosocristian Please take a look at the documentation page https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.5/version.html, you will see the major changes from 2.0.0.

You don't have to use a specific collection version, you can use the command **ansible-galaxy collection install fortinet.fortios** and it will pick the latest version of the collection for you.

[2022-05-09 20:00] cardosocristian commented on #182
@JieX19 I installed version 2.1.4 just like you mentioned, I didn't receive any more warnings, but when running the playbook according to your example, in the case of multiple services

[code]

Using your example, I was able to run the playbook successfully.

I had assembled the playbook based on what is in this URL from the ansible website: https://docs.ansible.com/ansible/latest/collections/fort

[2022-05-11 20:59] JieX19 commented on #154
@Raimond56 I can reproduce this issue and will fix it in the next release.

[2022-05-12 11:25] gaetanquentin commented on #136
any news?

the same empty results with "system.performance_status",  "hardware" , "hardware_cpu" and "hardware_memory"

collection fortinet.fortios 2.1.4

ansible 2.9.24
  config file = /etc/ansible/ansible.cfg
  python version = 3.6.8 (default, May  6 2020, 12:04:35) [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]

[2022-05-12 12:24] gaetanquentin commented on #172
so there is no support for ansible.netcommon.cli_command? we can't send classic  commands to fortigates in terminal mode with ansible?

[2022-05-12 21:55] JieX19 commented on #136
@gaetanquentin

I've reported to the API team about this issue. I will let you know once it's fixed.

[2022-05-13 07:00] gaetanquentin commented on #136
Yes you already said that 8 months ago...

[2022-05-16 19:08] alagoutte commented on #172
What the use case for SSH and not httpapi ? because ssh it is not really API ;-) (you need to implement stuff for convert SSH output...)

[2022-05-17 00:32] JieX19 commented on #172
@alagoutte

For your case, you can use Ansible 'raw' module. Here's an example https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.5/faq.html#how-to-work-with-raw-fotios-cli

https://docs.ansible.com/ansible/latest/collections/ansible/builtin/raw_module.html

[2022-05-17 15:47] #182 closed

[2022-05-17 15:50] cardosocristian opened #183 "Feature Request - fortios_router_bgp"
Hi
Would it be possible to insert the present/absent state in the fortios_router_bgp module?

I noticed that since it doesn't validate this, it simply recreates the entire BGP router configuration, deleting anything already pre-existing on the Fortinet in use.

The way in question would be the link: https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_router_bgp.html

I detecte

[2022-05-17 18:34] #183 closed

[2022-05-17 20:29] dmsimard commented on #181
Apologies, I must have missed your message. I don't have immediate answers to your questions but I'll ask around.

Other than the two issues you've mentioned, have you been able to address the other sanity tests failures ? If possible, we'd appreciate if there could be a new release of the collection including the fixes so fortinet.fortios is clear for the release of ansible 6 soon.

[2022-05-17 20:30] felixfontein commented on #181
@JieX19 the requirements for licensing can be found here: https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#id7

In case the collection does not satisfy them, you need to ask for an excemption, relicense that module, or remove it.

About the sanity test: the culprit is likely https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/blob/fos_v6.0

[2022-05-17 20:33] felixfontein commented on #181
Actually I just saw that the module you mentioned is in fact a plugin: plugins/httpapi/fortios.py. Note that plugins import GPLv3+ licensed code from ansible-core, so they must be GPL licensed themselves. Otherwise they are in violation of the GPL.

You should probably check with your company's legal team. The easiest solution is probably to simply relicense that file under GPLv3+.

[2022-05-17 21:15] gotmax23 commented on #181
I did a quick license check for you and noticed two issues. I am also not a lawyer, so you should double check this and not take it as legal advice.

- galaxy.yml claims that the collection is MIT-licensed, but I didn't find any MIT license file or license header in the entire project.

I believe the license key should be

[code]

- According to the Ansible Collection Requirements (@dmsimard linke

[2022-05-17 21:29] JieX19 commented on #181
Thanks for the help!

[2022-05-17 21:45] JieX19 commented on #181
@dmsimard I've fixed some errors like 'parameter-list-no-elements', but still need more time to address some other sanity-test issues. Your colleague recommend us to do a new release with the 'syntax error' bug fixes in the detected three modules.  Is it OK to do so?

[2022-05-17 22:41] JieX19 commented on #169
The bug has been fixed in the latest version, I'm gonna close this issue.

[2022-05-17 22:55] dmsimard commented on #181
@JieX19 right now 2.1.5 of fortinet.fortios causes a range of issues due to the syntax errors and so it is pinned to 2.1.4 in the Ansible community package.

If you are able to do a minor release (2.1.6?) including these fixes, we can unpin the version to allow users to pick up the latest updates while giving you some time to fix the remaining issues.

[2022-05-18 17:51] JieX19 commented on #181
@dmsimard  Thanks for your response. We will do a new release of 2.1.6 on 5/20/2022.

[2022-05-19 12:57] cardosocristian opened #184 "Error in fortios_system_interface module"
I'm trying to use the fortios_system_interface module and when I try to use the module to insert the secondary IP, I'm getting an error when executing the playbook.

[code]

When I run the module only with the main IP I have no problems, the playbook works smoothly, the error itself only occurs when I try to use the secondary IP configuration.

Following module error at the beginning of execution

[2022-05-23 12:19] gaetanquentin commented on #172
2 uses cases:
  - when api is buggy and you have to wait months, may be years for a fix. Exemple: https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/issues/136
 - when there is no api equivalent of what the console commands give

[2022-05-23 12:29] gaetanquentin commented on #172
well so, you let us only too choices:

  - the buggy http api where we need to wait for months for a fix
  - a non-ansible solution since it is a bash solution and we need to do 'expect things ' manualy to read the screen

 i think a network_cli solution would be better than the last one:
 - it is more ansible
 - it controls questiond/answers to terminal
 - we can have access to everything the con

[2022-05-25 19:02] Andersson007 commented on #181
@JieX19 hello, how about the release 2.1.6 on 5/20/2022 ?

[2022-05-25 20:59] taylorjt2 opened #185 "Error in fortios_system_sdwan"
I'm trying to create a task that allows me to create health checks for SDWAN.  I have separate tasks working for creating zones and members for SDWAN, however health checks keep erroring out.  Tried a lot of different formats.  What I think should work:
[code]

Results in:
[code]

I'm not sure if I'm doing something wrong or if there's just an error in fortios_system_sdwan with regard to health ch

[2022-05-26 21:45] JieX19 commented on #181
@Andersson007 I saw our pm has approved the release today and the CM team is working on the release this afternoon. I will let you know once it's released successfully.

[2022-05-26 23:17] JieX19 commented on #181
@Andersson007  2.1.6 is available now.

[2022-05-27 07:38] Andersson007 commented on #181
@JieX19 there are still a lot of sanity failings
1. Clone https://github.com/ansible/ansible
2. cd ansible
3. source hacking/env-setup
4. cd <you collection dir>
5. ansible-test sanity --docker

Waiting for your feedback

[2022-05-27 21:40] JieX19 commented on #181
@Andersson007  Your colleagues recommended us to do a minor release including these syntax-error fixes. We've fixed them and some of the errors like 'parameter-list-no-elements'... but still need some time to fix the rest.

One more question, how can I deal with the 'ImportError: No module named yaml'?

[2022-05-30 08:36] Andersson007 commented on #181
@JieX19

The whole output of the ansible-test sanity command looks very strange to me. It looks like it doesn't work at all. I'm totally confused with what's going on there:)

[2022-05-30 08:45] felixfontein commented on #181
See https://github.com/ansible/ansible/blob/devel/docs/docsite/rst/dev_guide/testing/sanity/import.rst#import for the import errors.

[2022-05-31 11:23] alagoutte commented on #184
What FortiOS release ?

[2022-05-31 18:24] cardosocristian commented on #184
Hi @alagoutte, FortiOS Version 6.4.9

[2022-05-31 18:51] JieX19 commented on #184
@cardosocristian A required param 'id' is missing in the playbook. for example, id: 1

Can you please try it with the id? I tried this module on FOS 7.0, and it works.

[2022-05-31 18:52] JieX19 commented on #184
@cardosocristian  FYI, https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.6/gen/fortios_system_interface.html

[2022-05-31 20:00] JieX19 commented on #185
@taylorjt2, I ran the same playbook and it works. May I know what FortiOS Collection version and FOS version you use?

Use this command **ansible-galaxy collection install fortinet.fortios:2.1.6** to install the latest version. And you probably need to upgrade your FOS to 7.0 if needed.

If the error still occurs, please provide more debugging infor to us by using the commands below:
**diagnose de

[2022-06-02 10:20] Andersson007 commented on #181
@gotmax23 thanks!

@JieX19 using that branch and ansible-core stable-2.13 it returns so many errors that i can't past it here because `You can't comment at this time — your comment is too long (maximum is 65536 characters).`

[2022-06-06 20:47] taylorjt2 commented on #185
I was able to resolve the issue, it was a list vs dictionary definition issue.  It does work.  Thanks.

[2022-06-06 20:47] #185 closed

[2022-06-10 05:08] Andersson007 commented on #181
@JieX19 yes, please fix them ASAP (as a temporary solution you can use an [ignore.txt](https://github.com/ansible-collections/community.general/blob/main/tests/sanity/ignore-2.14.txt) file but it must not contain entries listed in the [requirements](https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#ci-testing).

[2022-06-13 06:00] ginigangadharan opened #186 "fortios_monitor_fact for backup is not working with"
As per the document, to backup the FOS system, use module `fortios_monitor_fact` and its `selector: system_config_backup`. But the `system_config_backup` option is not available in the module !

Any idea?

Thanks in advance.

**Variables**

[code]

**Task**

[code]

**Error**

[code]

**Environment**

[code]

[2022-06-13 18:26] JieX19 commented on #186
Hi @ginigangadharan,

The backup API has been moved to 'fortios_monitor' since 2.1.6 due to the backend API changes.

Below is an example to backup the FOS system:

[code]

Let me know if you have any questions.

[2022-06-13 18:27] JieX19 commented on #186
@ginigangadharan FYI, this is the doc for 2.1.6 https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.1.6/fortios_monitor.html

[2022-06-14 04:01] ginigangadharan commented on #186
@JieX19
Thank you. I did not notice that.

between, do we have an option to backup to a TFTP location?
(like the command `execute backup config tftp {{ backup_filename }} {{  tftp_server }}`)

[2022-06-14 17:32] JieX19 commented on #186
@ginigangadharan REST API has not supported TFTP currently. I will tag it in 'feature request category'. We review the list regularly with the API team to decide on prioritization.

[2022-06-15 01:50] #186 closed

[2022-06-20 15:42] seventhsite opened #187 "AttributeError: 'str' object has no attribute 'items'"
Hi! I give this error when trying to backup my FortiGate config. My playbook

[code]

[code]

[2022-06-21 00:00] JieX19 commented on #187
@seventhsite

I can reproduce the error. It's caused by the inconsistent data type from the backend and the RESTAPI definitions. Backend returns a string for some params that accept multiple values, while RESTAPI actually accepts a list to save these values.

I will fix the issue in the next release and will inform you once it's released.

Thanks!

[2022-06-24 22:10] ma-die opened #188 "Module fortios_system_api_user fails in collection version >2.1.5"
Hi,

when running the attached task using `fortinet.fortios` version 2.1.6 the task fails on FortiOS 6.4. On FortiOS 7.0 the task completes, but the value of _trusthost_ is "0.0.0.0 0.0.0.0".
Using version 2.1.5. of `fortinet.fortios` everything works as expected.

Ansible Task:
[code]

Output with FortiOS 6.4:
[code]
Output with FortiOS 7.0:
[code]

[2022-06-28 22:09] JieX19 commented on #188
Thank you @ma-die for your question! I can reproduce the issue. It's basically caused by the type of elements in a list. I've fixed the issue and QA will test against it. It will be covered in the 2.1.7 release.

[2022-06-29 18:04] JieX19 commented on #186
@markwell-ch  We've made some improvements for both the new firmware and Ansible modules. Can you please upgrade the FOS version to 7.0.2 or above?

The issue is caused by the incompatible interface of firmware and RESTAPI. If you wanna back up with 6.4.9, you need to install the ansible collection of 2.1.4, and the module's name also changes.

[code]

[2022-06-30 09:59] markwell-ch opened #189 "Module fortios_router_route_map fails in collection version >2.1.5"
Hi,

When running the following task using collection version 2.1.6 against a Fortigate-VM with FortiOS 7.2.0 the task completes. But the route-map contains an empty rule. This also applies to other rule options and also when multiple rules are defined.
Using version 2.1.5. of fortinet.fortios everything works as expected.

Ansible Task:

[code]

expected configuration:
[code]

actual configuratio

[2022-06-30 17:21] JieX19 commented on #189
@markwell-ch I can reproduce the issue. It's basically caused by the type of elements in a list. I've fixed the issue and QA will test against it. It will be covered in the 2.1.7 release.

[2022-07-01 06:18] Raimond56 commented on #154
@JieX19
Hey, can you confirm if this was fixed in 2.1.6 ?
I am still running into same problem.
Running ansible core 2.11.3 with python 3.6.9 and fortinet.fortios 2.1.6

[2022-07-06 15:49] SEA-NET opened #190 "Change order of Shaping-Policy"
Hi there,

is there no way to change the order of items in the traffic shaping policy?
Firewall policies have "before:" and "after:" but I was not able to find a way to order shaper policies except to delete and recreate.

Did I miss something or is this the only way?

Thanks and best regards.

[2022-07-09 16:52] alagoutte commented on #190
Hi @SEA-NET,

Missing the like for policy the possibility to move traffic shaping policy (there is like firewall policy an API for this !)

[2022-07-14 00:13] JieX19 commented on #190
Hi @SEA-NET,

I've added the 'move' operation in the module fortios_firewall_shaping_policy. It will be covered in the next release 2.1.7. I will let you know once released.

[2022-07-20 08:47] glebras commented on #189
Hi @JieX19 ! Thanks for the fast response and the quick fix. FYI this issue is also reported internally.

[2022-07-20 16:10] dgarros opened #191 "IndexError: list index out of range in module_utils/fortios/comparison.py"
I'm getting an ` list index out of range` error when I execute the module `fortios_firewall_policy`

Looks like the error is coming from this code
[code]

I was able to fix it by replacing the line 78 with `if len(value) and type(value[0]) == dict:` instead of `if type(value[0]) == dict:`

I'd be happy to send a PR but not sure how that works for this project

## Environment
- Python 3.8.10
- Coll

[2022-07-20 19:41] JieX19 commented on #191
Hi @dgarros,

Thanks for the detailed info! I can reproduce the error on 2.1.6. It should check the len(value) first, Thank you for finding the issue! I will fix it in the upcoming release.

[2022-07-21 08:50] postmanGH opened #192 "Backup config to file not working (FortiOS 6.4)"
Hi all,
I'm using ansible [core 2.12.7] and loaded in ansible-galaxy collection install fortinet.fortios:2.1.5 from this location https://galaxy.ansible.com/fortinet/fortios.

I do not get a config backup (to file) working using a ansible playbook.

I understand that
`fortios_system_config_backup_restore:
      config: "system config backup"`

is legacy and the way to go is

`fortios_monitor_fact:

[2022-07-21 14:09] dgarros opened #193 "Support for Ansible Diff"
it would be really useful if the modules in this collection could support Ansible Diff out of the box to clearly indicate what has been updated or what would be updated.

Using the technique described in [this article](https://blog.networktocode.com/post/generating-diff-with-ansible/) I was able to add the support for diff in some modules in our fork.
The changes are very generic so assuming the m

[2022-07-21 20:58] JieX19 commented on #192
Hi @postmanGH

It's the same question as https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/issues/186. Can you please follow the steps to upgrade the FOS version and collection version?

[2022-07-22 10:11] postmanGH commented on #192
Hello @JieX19 , thanks a lot.

I indeed overlooked that one, thanks for pointing to #186  . I can confirm ansible collection of 2.1.4 is working with FortiOS 6.4.8 / 6.4.9 and will check out 7.x.x using 2.1.6 / fortios_monitor.

[2022-07-22 10:11] #192 closed

[2022-07-23 15:59] patrikspiess opened #194 "system_global/edit_vdom_prompt is wrongly stated as unsupported since FortiOS v6.4.4"
When trying to set  edit-vdom-prompt in global configuration the task tells me it's not supported anymore sice FortiOS 6.4.4 which is wrong.

[code]

This tasks outputs the following warning when played with -v:

[code]

If I check all the CLI guides on docs.fortinet.com I see that all FortiOS versions from 6.4.4 an later still support this setting. I proved it with FortiOS v6.4.5, v6.4.9, v7.0.2,

[2022-07-26 15:02] Batman781 opened #195 "module fortios_system_zone: issue with member_path"
We're having issue with fortios_system_zone and member_path.
Ansible version: 2.1.5

[code]
[code]

[2022-08-01 17:28] JieX19 commented on #193
@dgarros  Thanks for the helpful advice! I'm working on it.

[2022-08-01 17:53] JieX19 commented on #194
@patrikspiess  Thanks for pointing it out! you're right, the param 'edit_vdom_prompt' has been supported since 6.4.0. Versions before 6.4 don't have this param actually. I'm fixing it right now.

[2022-08-04 04:37] JieX19 commented on #195
Hi @Batman781

The member_path for the module is tagging:name, here's the doc for this module https://ansible-galaxy-fortios-docs.readthedocs.io/en/latest/gen/fortios_system_zone.html

[2022-08-04 12:47] Batman781 commented on #195
Sorry but seems don't work, could you provide an example to clarify?
I want to add port10 to already present zone named "TEST_ZONE"
[code]
i got this error with tagging:name

    **"msg": "parameter system_zone.tagging is empty"**

and i don't know how to set tagging

[2022-08-04 21:29] JieX19 commented on #195
@Batman781

You can just add the interface_name to the interface list. But be careful, the entire interface list will be overwrotten.

[code]

I checked the member operation feature, it only supports adding one or more members to a list if the list has a mkey. The backend does not support it either, if you configure the system zone by adding new interfaces on CLI, it will overwrite the existing in

[2022-08-25 10:25] R1sCh0 opened #196 "Backup system config on Fortigate 6.4.7 : error in repo"
Hi, I'm trying to perform a system configuration backup of my fortinet fortigate 6.4.7 firewall using your fortinet.fortios module but it doesn't seem to work as I keep getting the message "error in repo" and i don't understand why.

- fortinet.fortios version: **2.1.6**
- fortigate version: **6.4.7 build 1911**
- ansible version: **core 2.13.3**
- python version: **3.10.5**

first heres an extrac

[2022-08-29 13:23] slazer2au commented on #196
Because you are running a FortiOS version before 6.4.9 you need to downgrade your Ansible FortiOS Galaxy package to 2.1.4.

Then change fortios_monitor to fortios_monitor_fact and change your selector from backup.system.config to system_config_backup

everything else should be fine.

Alternatively, your playbook is correct and will start working if you upgrade your FortiGate to anything later then

[2022-08-29 18:33] lix-fortinet commented on #196
Hi @R1sCh0,

Thank you for raising this issue. Team are working on this issue. We will fix it on next release.

REST API for back up configuration of FortiOS changed from `GET` to `POST` since FortiOS v7.0.2. So, `fortios_monitor` will not work on FortiOS v6.4.7. But Ansible FortiOS Galaxy collection removed `system_config_backup` on `fortios_monitor_fact` by mistake since v2.1.5. The solutions fo

[2022-08-31 18:55] wagonza opened #197 "Creating new admin user fails on v7.2.1"
Trying to create a new admin user fails with the below error on `v7.2.1`.

`"cli_error": "entry not found in datasource\n\nvalue parse error before 'super_admin'\nCommand fail. Return code -3\n",`

Example playbook as follows:

[code]
Enabling debugging with:

[code]

Output:

[code]

[2022-08-31 23:06] lix-fortinet commented on #197
Hi @wagonza,

Thank you for raising this issue. Please check whether the login user has `super_admin` accprofile. Lower level accprofile do not have the right to create user with higher level accprofile. If it still not work, please let me know the Ansible FortiOS galaxy collection version that you are using.

Thanks,
Xing

[2022-09-01 09:15] jantari commented on #149
Hi @JieX19 do you know whether the API supports unsetting an attribute now? Thanks

[2022-09-01 11:21] wagonza commented on #197
Thanks @lix-fortinet - that worked. Interesting, I figured since the API user had `System` as set to `read+write` it would be able to create a user and specify any profile. One assumes the API user can do anything as deemed by what is configured in `Access Control`. Another area where it failed was that the API user could update `Administrator Settings`, `NTP`, `DNS`, `timezone` etc. but it could

[2022-09-01 11:22] wagonza commented on #197
Oh by the way version I am using is `2.1.6`

[2022-09-01 11:22] #197 closed

[2022-09-01 22:47] lix-fortinet commented on #197
Hi @wagonza,

Thank you for your update. Access Control may not contain all read/write rights. I am not so clear about the another failed area, do you mean the issue of could not update the Email service is under `super_admin` accprofile?

Thanks,
Xing

[2022-09-02 11:46] oswinfox opened #198 "system_global\edit vdom_mode does not work"
Hello all,

I tried on a fotigate F100 (FortiOS 6.4.9) to enable the multi-vdom as follow in my playbook:

[code]

But I got this error from Ansible:

`"Unsupported parameters for (fortios_system_global) module: system_global.vdom_mode. Supported parameters include: system_global, vdom, access_token."`

It seems like this option is not working anymore, can someone help me please?

Kind regards

[2022-09-06 02:21] txk3n commented on #196
Hi @R1sCh0,

I got the same issue and when I downgraded collection to 2.1.4 version in a virtual environment via Ansible AWX, it's working  pretty-well. Unfortunately, scope `global` doesn't seem worked, only `vdom`.

Do you got the same or everything's working for you ?

[2022-09-07 21:54] lix-fortinet commented on #196
Hi @R1sCh0,

We tested in our side. FortiOS Ansible collection v2.1.4 has some issue to get the configuration file with scope `global`. v2.1.2 works with scope `global`. Could you downgrade the FortiOS Ansible collection to v2.1.2 and try it again? We will fix this issue in the next release.

Thanks,
Xing

[2022-09-09 10:30] nklerk opened #199 "Ansible 6.x.x, exception, Please provide access token or username/password to login"
After upgrading Ansible to 6.3.0 the fortinet.fortios can't connect to the fortigate API.
I tested the following playbook to work on Ansible 5.7.1 and 5.10.0. and not to work on 6.0.0, 6.1.0 and 6.2.0

Collection version(s):
[code]

The playbook I use to test with.
[code]

Error message on task2:
[code]

Versions working:
 - pip install ansible==5.7.1
 - pip install ansible==5.10.0
Versions not wo

[2022-09-09 18:25] MaxxLiu22 commented on #198
Hi @oswinfox ,

Thank you for raising this issue, this error msg means there is no argument "vdom_mode" under system_global. On my side, I use fortinet.fortios:2.1.7 collection, everything works well. my suggestion is run ``ansible-galaxy collection list`` you can check the current fortios collection version you use, and run ``ansible-galaxy collection install fortinet.fortios:2.1.7`` to download

[2022-09-09 21:26] MaxxLiu22 commented on #199
Hi @nklerk ,

Thank you for raising this issue, I will report it to development team for further investigation. From the error msg, that wants you to provide access token to access FGT. My suggestion is create a API user and generate an access token on FGT, then use this token to access FGT via Ansible,
[code]

this code works well on my ansible 6.2.0

Thanks,
Maxx

[2022-09-09 22:00] MaxxLiu22 commented on #199
or you can change "ansible_ssh_pass" to "ansible_password", that would also work.
[code]

Thanks,
Liang

[2022-09-12 08:30] oswinfox commented on #198
Hello @MaxxLiu22,

Thanks for replying, indeed when I use fortinet.fortios:2.1.7 the option does work with my fortigate F100!

Kind regards,
Oswin

[2022-09-12 08:30] #198 closed

[2022-09-15 08:39] ebenitezj opened #200 ""couldn't resolve module/action 'fortios_configuration_fact'"
Hi all,

When I run AWX:

FAILED! => {"reason": "couldn't resolve module/action 'fortios_configuration_fact'. This often indicates a misspelling, missing collection, or incorrect module path.

My Fortigate have 6.4.5 version and galaxy collection is 2.1.5

In AWX I have a Template that calls comms/backup_config_prueba.yml
![image](https://user-images.githubusercontent.com/78102239/190356374-8c2cc5

[2022-09-19 18:59] MaxxLiu22 commented on #200
Hi @ebenitezj ,

Thank you for raising this issue. From the error msg, there would be some inappropriate format around. From the configuration you provide, there would be an extra space before the arguments 'selector' and 'vdom', since they are sub-arguments of fortios_configuraton_fact,
[code]
if that not fix the problem, you can try to upgrade fortinet.fortios to latest version by run ``ansible-

[2022-09-22 12:27] oswinfox opened #202 "module fortios_router_static bug on fortigate F100 from 6.2 to 7.2.1"
Hello everyone,

I am using the Ansible Fortios collection (Version: fortinet.fortios:2.1.7) and used with a F100 model that is on version:

- 6.2
- 6.4.9
- 6.4.10
- 7.0
- 7.2.1

I always have the same issue when running my code to create IPv4 static rules, once my rule is created (and I can see it on the webgui after I run the Ansible playbook to add the network routes), the route is not working,

[2022-09-23 14:58] romaah opened #203 "Duplicate entry"
When using the fortios_router_static to configure static routes on a vdom, it seemingly errors on adding static routes when they are already defined, and will not report as unchanged/green even if the setting match exactly as configured.

`failed: [***] (item={'comment': 'test route 1', 'dst': '10.10.10.30/32', 'gateway': '2.2.2.2'}) => {"ansible_loop_var": "item", "changed": false, "item": {"comm

[2022-09-27 16:42] MaxxLiu22 commented on #202
Hi @oswinfox ,

Thanks for raising this issue. I created a IPv4 static router on fortios 7.2.0, 7.0.4, everything seems good, here is my configuration for reference, if you can provide your configuration file, I'd like to figure out what is happening.
[code]
Thanks,
Maxx

[2022-09-27 17:02] MaxxLiu22 commented on #203
Hi @romaah ,

Thanks for raising this issue, The error msg means that ansible try to add a new static router but there is a duplicated one existing. So if you would like to edit the existing one, I suggest to add an argument "seq_num", since ansible use this argument to locate the specific static router.
[code]

Thanks,
Maxx

[2022-09-27 20:40] oghoneim opened #205 "Creating admin users fails on FortiOS 6.4.5"
When trying to create an admin user using ansible the operation fails. By check the https requests on the fortigate it seems the ansible module is doing a PUT operation instead of a POST:

- hosts: all
  collections:
    - fortinet.fortios
  connection: httpapi
  vars:
   vdom: "root"
   ansible_httpapi_use_ssl: yes
   ansible_httpapi_validate_certs: no
   ansible_httpapi_port: 443
   ansible_netw

[2022-09-28 07:25] oswinfox commented on #202
Hello @MaxxLiu22,

Thanks for your answer. I created a role and it looks like this:

[code]

Thanks for your help!

[2022-09-28 08:29] oswinfox commented on #202
Hey,

What is this option doing dynamic_gateway? Because if I deleted from my code then it is working, I guess this is not needed also to create static rules so not sure why this was added.

Thanks!

[2022-09-29 07:08] alagoutte commented on #205
it is not the same issue like https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/issues/197 ?

[2022-09-30 19:05] oghoneim commented on #205
I don't think it's the same. Debugging the httpsd on the fortigate shows that the ansible module is trying to use http PUT to create a new admin user but according to the API documentation the correct HTTP method to create a new user is POST:

[httpsd 14286 - 1664564345     info] fweb_debug_final[248] -- Completed GET request for "/api/v2/cmdb/system/interface" (HTTP 200 OK)
[httpsd 14287 - 166456

[2022-10-01 06:53] alagoutte commented on #205
The issue coming from state : present

you considered there is already the user

try
´´´
state: create
´´´

[2022-10-03 23:30] lix-fortinet commented on #205
Hi @oghoneim,

Thank you for raising this issue. It should have another `POST` operation if the `PUT` operation failed. Could you check whether the diagnose info has `POST` log after `PUT`? Also, could you let me know the output of the error message of Ansible request by adding `-vvv` option? By the way, please let me know the Ansible FortiOS collection version you are using.

Thanks,
Xing

[2022-10-10 16:03] dgarros commented on #193
@JieX19 I just noticed that this change was part of 2.1.7,

It's working great in Check mode but it would have been very helpful to have it in normal mode as well to track what has been changed

[2022-10-13 10:54] unbreakabl3 commented on #36
There is an option called "append" exists now in FortiOS 6.4.10 at least. Is it possible to add this to the fortios_firewall_addrgrp module?

![image](https://user-images.githubusercontent.com/13556249/195578442-0f330749-5803-4f47-9cfd-81545b1350da.png)

[2022-10-13 10:57] unbreakabl3 opened #206 "Add "append" option to the 'fortios_firewall_addrgrp' module"
Hello, dear developers.

There is an option called "append" exists now in FortiOS 6.4.x at least. Is it possible to add this to the fortios_firewall_addrgrp module?

![image](https://user-images.githubusercontent.com/13556249/195579049-be383e37-4096-4e5b-98b3-1058b01816fa.png)

Thank you very much in advance.

[2022-10-13 22:43] lix-fortinet commented on #36
Hi @unbreakabl3,

Thank you for your comment. The `append` command is not a new operation of FortiOS v6.4.10. It is an CLI command. But there is no REST API for this functionality. So, we still recommend users to use the solution listed in the previous comments.

Thanks,
Xing

[2022-10-14 07:26] #200 closed

[2022-10-15 08:14] unbreakabl3 commented on #36
Hi, @lix-fortinet ,
thank you very much for your quick reply.

This REST API call is adding a new member to the group. Tested on 6.4.x

- name: Add new server to the {{ firewall_address_group }} group
  uri:
    url: https://{{ hostname }}/api/v2/cmdb/firewall/addrgrp/{{ group }}/member?access_token={{ api_access_token }}
    method: POST
    body_format: json
    body: |
      {
        "name": "

[2022-10-15 08:38] ginigangadharan commented on #36
@unbreakabl3 and @lix-fortinet
Thank you for that. Will wait for the update.

[2022-10-17 18:11] lix-fortinet commented on #36
Hi @unbreakabl3,

Thank you for your update. You are welcome to use this as your workaround or by the generic module mentioned by [chillancezen](https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/issues/36#issuecomment-655406250):  https://github.com/fortinet/ansible-fortios-generic. We will keep an eye on this request, and will get back to you once we have any improvement.

[2022-10-27 02:50] gotmax23 opened #207 "Collection Requirements Violation - Repository Management"
Hi! The Ansible Community Steering Committee has determined that this collection does not tag its releases in its git repository. This violates the [repository management](https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#repository-management) section of the Collection Requirements:

Note that this requirement has recently [been clarified](https://github.com/an

[2022-10-27 17:14] lix-fortinet commented on #207
Hi @gotmax23,

Thank you for your notification. We will update it in next release.

Thanks,
Xing

[2022-10-27 17:52] gotmax23 commented on #207
Great! Please also `git tag` the last two releases. E.g. for 2.1.7 (https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection/commit/8ec95ea5b4925eda4ce46bbfde9b1ea05168dfe4), run

[code]

and push.

[2022-10-27 18:08] lix-fortinet commented on #207
Sure, no problem.

Thanks,
Xing

[2022-11-02 14:40] jplitza opened #208 "fortios_configuration_fact: urlencode filters"
The following task invocation:
[code]
yields this error (boiled down):
[code]
Manually putting in `%20` instead of the space works, but that should probably be handled by the module (not least due to security concerns).

[2022-11-03 16:49] dancarltonigt opened #209 "member_path fortinet.fortios.fortios_router_prefix_list usage?"
Is it possible to get a usage example of member_path under the fortinet.fortios.fortios_router_prefix_list module?

I have tried the following:

`/rule/id`
`/rule/`
`/rule`
`rule/id`
`/id`

I get the same general error each time:

    "msg": "Attribute <what I put in member_path>not as part of module schema"

[2022-11-03 17:23] MaxxLiu22 commented on #209
Hi @dancarltonigt ,

Thank you for raising this issue, you can try to edit a specific rule by using the following example code. Hope that is helpful, if you still have issues, feel free to let me know.
[code]
Thanks,
Maxx

[2022-11-03 17:31] MaxxLiu22 commented on #208
Hi @jplitza ,

Thank you for raising this issue and sorry for any inconvenience. I can reproduce this issue on my side and have reported it to the development team. I will let you know if there are any updates

Thanks,
Maxx

[2022-11-04 13:52] dancarltonigt commented on #209
@MaxxLiu22  thanks for that pointer.

[2022-11-04 13:52] #209 closed

[2022-11-15 00:19] lix-fortinet commented on #208
Hi @jplitza,

This issue is fixed on the latest release of FortiOS Ansible collection v2.2.0. Please switch to v2.2.0 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-11-15 00:22] lix-fortinet commented on #207
Hi @gotmax23,

We added the tags for v2.1.7 and v2.2.0.

Please let me know if you have any other requirements.

Thanks,
Xing

[2022-11-15 00:29] lix-fortinet commented on #196
Hi @R1sCh0, @txk3n,

This issue is fixed on the latest release of FortiOS Ansible collection v2.2.0. Please switch to v2.2.0 and try it again.

Please let me know if you have any questions.

Thanks,
Xing

[2022-11-15 01:04] MaxxLiu22 commented on #202
Hi @oswinfox ,

so glad to hear it works, I find an example that enable the "dynamic_dateway" argument, hope that is helpful. [Technical-Tip-Static-route-for-DHCP-PPPoE-interfaces](https://community.fortinet.com/t5/FortiGate/Technical-Tip-Static-route-for-DHCP-PPPoE-interfaces-with/ta-p/189436)

Thanks,
Maxx

[2022-11-15 08:05] oswinfox commented on #202
Hello @MaxxLiu22,

Thanks for the link and information! I checked and indeed in my config the dynamic gateway isn't needed, I guess that was a mistake in our Ansible code!

Thanks

[2022-11-15 08:05] #202 closed

[2022-11-15 08:32] BosMutus opened #210 "fortios_system_admin: gui-dashboard widget fortiview attribute unknown"
Hi All,

There is a problem when using the gui dashboard widgets with the type "fortiview".
They require additional attributes like fortiview_type, fortiview_sort_by, fortiview_timeframe, fortiview_visualization.
When using them, a HTTPS Post error 500 occur with the notification, that the attribute "fortiview-type" must be set.
When using the parameters with dashes, ansible complains about unknow

[2022-11-16 18:22] cardosocristian opened #211 "Problem inserting prefix-list6 in Fortinet"
Hi
I'm using the module fortios_router_prefix_list6 and after running the playbook, the values "ge" and "le" despite being written in the playbook, in the execution and insertion in Fortinet, they are simply not inserted and where they already existed, they are deleted.

Fortinet 2600f firmware version:
[code]

Ansible version
[code]

Ansible Collection:
[code]

Playbook:

[code]

These lists of I

[2022-11-16 19:25] gotmax23 commented on #207
Nope, this looks good to me! Thanks for fixing it.

[2022-11-16 19:25] #207 closed

[2022-11-16 19:27] gotmax23 commented on #207
Please don't forget to do the same for https://github.com/fortinet-ansible-dev/ansible-galaxy-fortimanager-collection/issues/53.

[2022-11-16 21:41] MaxxLiu22 commented on #210
Hi @BosMutus ,

Thanks for raising this issue, May I know which FOS version you are using? since many latest versions don't support "gui_dashboard" argument.

Thanks,
Maxx

[2022-11-16 22:18] MaxxLiu22 commented on #211
Hi @cardosocristian ,

Thank you for raising this issue and sorry for any inconvenience, we do have this issue on collection fortinet.fortios  2.1.6, but we have fixed it on the latest version. My suggestion is upgrade fortinet.fortios to 2.2.0 by running ``ansible-galaxy collection install fortinet.fortios:2.2.0``, if you still have this issue, please let me know.

Thanks,
Maxx

[2022-11-18 20:28] foxpatil commented on #196
@lix-fortinet i did upgrade to the v2.0.0 still i m facing the same issue. Can you help

[2022-11-18 21:51] lix-fortinet commented on #196
Hi @foxpatil,

The latest version is v2.2.0. Could you try switch to v2.2.0 and try it again? Please let me know if you have any questions.

Thanks,
Xing

[2022-11-19 01:59] cardosocristian commented on #211
Hi @MaxxLiu22

I updated to the mentioned version and the problems I reported no longer occurred, thank you very much for your help.
Is there somewhere I can monitor when a newer version of the module comes out?

[2022-11-19 04:59] foxpatil commented on #196
Thank you for quick response lix-fortinet,

Issue is resolved using scope as my single vdom. but when i set scope as global it fails.

[2022-11-21 17:57] MaxxLiu22 commented on #211
Hi @cardosocristian ，

So glad to hear that works, we have some latest version docs listed here [Ansible Galaxy FortiOS Collection Documentation 2.2.0](https://ansible-galaxy-fortios-docs-beta.readthedocs.io/en/latest/), I am afraid there is no way to only monitor a module's change.

Thanks,
Maxx

[2022-11-23 09:49] BosMutus commented on #210
Hi @MaxxLiu22

Used FortiOS:
- 6.4.10
- Tested now with Version 6.4.4
Same issue script compalins about missing parameters like "fortiview-type" when "fortiview_type" is set in the scirpt.

Tested Platforms, all the same issue:
FWF61F
FGT81E
FGT201F

[2022-11-24 09:57] mpsOxygen opened #212 "Is there anyway to get a simple configuration backup from a device using a module?"
I know this isn't exactly a bug, but I cannot seem to figure out if there is a simple way to just get the config file from the device using one of the modules. The facts module seems way over complicated but lacking this simple function.

[2022-11-24 16:39] kbmulligan commented on #212
I looked into this, because I've definitely been doing this, but it appears the module I had been using was deprecated with 2.0.0:
https://ansible-galaxy-fortios-docs.readthedocs.io/en/galaxy-2.0.0/release.html

The notes there say you should be using these modules:
        To backup the FOS system, use module fortios_monitor_fact and its selector system_config_backup.
        To restore the confi

[2022-11-27 10:15] foxpatil opened #213 "Any way to append the address in address group"
I had successful playbook which creates address group and add one address object into that group, but i want to append the object in address list under same address group

[2022-11-29 19:06] MaxxLiu22 commented on #213
Hi @foxpatil ,

We can use member operation to append objects into an existing item, we need to set member_path to the location where you want to append an object and set member_state to present, here I append a member "SSLVPN_TUNNEL_ADDR1" to a existing address group "test", you are free to use it, if you still have questions please let me know.
[code]
Thanks,
Maxx

[2022-11-30 22:44] MaxxLiu22 commented on #212
Hi @mpsOxygen ,

Thank you for your question and thank you @kbmulligan for your detailed answer. Like they said, we can use fortios_monitor_fact module to backup all configuration in a simple way, the following example just backup all configuration into local.backup file, you are free to use it, if you still have any questions, please let me know.
[code]

Thanks,
Maxx